extends layout

block main
    h1.w3-panel Book
    h4.w3-panel Title: #{book.title}
    h4.w3-panel Author: #{book.author}
    h4.w3-panel Publicatin date: #{book.publicDate}
    h4.w3-panel Return due: #{book.returnDate}
    h4.w3-panel Is avaliable: #{book.avaliable}
    h4.w3-panel Reader: #{book.reader}
    